.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart h1 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.cartItem {
  width: 80%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 20px 0;
  background-color: white;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.cartItem img {
  width: 150px;
  height: auto;
  border-radius: 15px 0 0 15px;
}

.cartItem .description {
  padding: 20px;
  width: 100%;
}

.cartItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.checkout {
  margin-top: 20px;
}

.checkout p {
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: #18bc9c;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout button:hover {
  background-color: #2c3e50;
}
